@page "/ChatRoom"

<h3>Chat</h3>

<div class="card bg-light chat-box overflow-auto mb-3 ">
    @if(messages==null){

      <p>
          Loading ...
        </p>

    }
    else if (messages.Count == 0)
    {
        
    }
    else{
        foreach(NotificationMessage mes in messages)
        {
            if (mes.Sender == myId)
            {
                <div class="card opacity-75 w-auto messageFrom">
                    <p class="text-black-50 text-lg-start">@mes.Message</p>
                    <p class="text-muted">@mes.createdOn</p>
                </div>

            }
            else{
                <div class="card opacity-75 ms-auto messageTo">

                    <p class="text-capitalize"><spam class="fw-bold">Sender:</spam>@mes.Sender</p>
                    <p class="text-black-50 text-lg-start">@mes.Message</p>
                    <p class="text-muted">@mes.createdOn</p>

                </div>


            }

        }
    
    }

</div>




<div>
    <EditForm Model="message" OnInvalidSubmit="SendMessage">

        <FluentValidationValidator/>
        <ValidationSummary/>
        <div class="row">

        <div class="message-box col">
        <InputText class="form-control" @bind-Value=@message.Message placeholder="Write a Message..."/>

        </div>
        <div class='col send-div'>

       @if((IsConnected)){ 
           <button name="submit" class="btn btn-primary w-100 " onclick="@SendMessage">send</button>
       }
       </div>
        </div>

    </EditForm>
</div>